.card {
    margin-top: 5px;
    height: 50px;
    border: 2px solid black;
    background-color: #E9B44C;
    display: flex; /* Use flex for proper alignment */
; /* Align items vertically */
    text-align: center;
    align-items: center; /* Center align horizontally */
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px ;
    justify-content: space-evenly; /* Align items at the top */
    padding: 10px; 
    border: none;/* Add some padding for spacing */
}



